RewriteEngine On
RewriteBase /formation_php/php-web-service/REST

# Si le fichier demandé n'existe pas, redirige vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]